<!-- <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1194825340664642&autoLogAppEvents=1"></script>
 <div id="fb-root"></div> -->
 <!-- <div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="true"></div> -->
<button type="button" class="btn" (click)="submitLogin();">Login with facebook</button>
<button type="button" class="btn" (click)="submitLoginout();">Log out</button>
<button type="button" class="btn" (click)="details();">details</button>
<button type="button" class="btn" (click)="getimage();">getimage</button>
<router-outlet></router-outlet>
